



/* ESTILOS CARRITO */
div div.articulo{
   box-shadow: 0px 0px 10px 0px #000;
}
/* div.cont-img{
  padding: 5%;
} */

/* #myTabContent{
  display: table;
}

#guardado, #carrito{
  display: table-cell;
} */
/* div button.carrito{
  position: relative;
  top: 20vh;
} */


div img.card-img{
  /* border: 3px solid rgb(193, 193, 193);
  border-radius: 10px; */
  margin-left: 0 !important;
}

/* ESTILOS HOME */
.bg-black {
    background-color: #145374;
}

.mila-logo {
    width: 30%;
}

.data {
    background-color: #00334e;
}

/* TEXTO SLIDER */
.carousel-caption {
    top: 200px;
}

/* BG SOCALO NARANJA */
.bg-orange {
    background-color: #5588a3;
    color: aliceblue;
    font-weight: 600;
    text-align: center
}

.m-right {
    border: 2px solid #5588a3;
    border-right: 2px solid white;
}

.underline {
    width: 100px;
    height: 2px;
    background-color: orangered;
}

.map-container {
    overflow: hidden;
    /* padding-bottom:56.25%; */
    position: relative;
    height: 0;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* FONDO GRIS */
.bg-light-gray {
    background-color: #e8e8e8;
}

/* RESPONSIVE */
.media img {
    max-width: 120px;
    height: auto;
}

/* SUBRAYADO */
.underline-blue {
    width: 70px;
    height: 2px;
    background-color: #5588a3;
}

.underline-black {
    width: 70px;
    height: 2px;
    background-color: black;
}

/* CUERPO PRODUCTOS */
.card-body {
    text-align: center;

}

/*CATEGORIAS */
div.categorias {
      justify-content: space-between;
}

/* CHELO _____________________ */

div img.pro-carlos{
  border: 3px solid rgb(128, 128, 128);
  padding: 1%;
  box-shadow: 0px 0px 10px 0px #000;
  border-radius: 10px;
}

div.profile-cont{
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
}

textarea {
    resize: none;
}
.row{
  margin-left:  0;
  margin-right: 0;
}

.form-check a.reg{
  padding-left: 35%;
}



.botones {
    margin-top: 5vh;
}

.male {
    margin: 1vh 0;
}


.caja-login, .caja-contacto, .caja-register {
    background-color: rgba(0, 209, 255, 0.35);
}

.form-container-reg, .form-container-cont {
    position: absolute;
    top: 5vh;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}

.form-container {
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}

.form-check input {
    margin-left: 0;
    margin-top: 1vh;
}

.bg-contacto, .bg{
  width: 100%;
  height: 100vh;
}

.reg{
  width: 100%;
  height: 150vh;
}



@media screen and (min-width: 600px) {
    .bg {
        /* background-size: 150%; */
        background: url("../img/perritos_3.jpg") no-repeat;
        background-size: 200%;
    }

    .bg-contacto {
        /* background-size: 150%; */
        background: url("../img/perro-fondo-5.jpg") no-repeat;
        background-size: 200%;
    }
}

@media screen and (min-width: 768px) {
    .bg, .bg-contacto {
        background-size: 165%;
    }
}

@media screen and (min-width: 1024px) {
    .bg, .bg-contacto {
        background-size: 125%;
    }
}

@media screen and (min-width: 1200px) {
    .bg, .bg-contacto {
        background-size: 100%;
    }
}

li {
    list-style: none;
}

/* FOOTER */
.bg-footer {
    background-color: #00334e;
}

/* COPYRIGHT */
.bg-copy {
    background-color: #145374;
}
